# Ignore all dot files...
.classpath
.project
!.gitignore # except for .gitignore
.settings

*.tmproj

#Ingore Build Files
target/*
target-eclipse/*
build/**
build.gradle.save

#Gradle files
.gradle/*

#Ignore IntelliJ files
*.iml
*.ipr
*.iws
.idea/*
.idea/**/*

#Ignore Eclipse files
plugin.xml

#Ignore logs
*.log

grails-file-uploader-*.zip
grails-file-uploader-*.zip.sha1
bin/**
temp