.* # Ignore all dotfiles...
.classpath
.project
!.gitignore # except for .gitignore
.settings

*.tmproj

#ignoro la carpeta target
target/*
target-eclipse/*

#ignoro archivos de intellij idea
*.iml
*.ipr
*.iws
.idea/*
.idea/**/*

#ignoro logs
*.log

#ignoro css, images y js
web-app/css/*
web-app/css/**/*
web-app/js/*
web-app/js/**/*
web-app/images/*
web-app/images/**/*

grails-file-uploader-*.zip
grails-file-uploader-*.zip.sha1
