.* # Ignore all dotfiles...
.classpath
.project
!.gitignore # except for .gitignore
.settings

*.tmproj

#ignoro la carpeta target
target/*
target-eclipse/*

#ignoro archivos de intellij idea
*.iml
*.ipr
*.iws
.idea/*
.idea/**/*

#ignoro logs
*.log

grails-file-uploader-*.zip
grails-file-uploader-*.zip.sha1
