<plugin name='file-uploader' version='1.2.1' grailsVersion='1.2-M1 &gt; *'>
  <author>Federico Hofman</author>
  <authorEmail>fhofman@gmail.com</authorEmail>
  <title>File Uploader Grails Plugin</title>
  <description>\
This plugin provides easy integration with your grails application
to handle file uploading with multiple configuration.
</description>
  <documentation>http://grails.org/plugin/file-uploader</documentation>
  <resources>
    <resource>com.lucastex.grails.fileuploader.DownloadController</resource>
    <resource>com.lucastex.grails.fileuploader.FileUploaderController</resource>
    <resource>com.lucastex.grails.fileuploader.UFile</resource>
    <resource>com.lucastex.grails.fileuploader.FileUploaderService</resource>
    <resource>FileUploaderTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='hibernate' version='1.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>